@tailwind base;
@tailwind components;
@tailwind utilities;
.player-wrapper {
  position: relative;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

::cue {
  background-color: transparent;
  color: black;
  opacity: 1;
  font-size: 1.5rem;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 60px;
  height: 35px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}
